DB_HOST=
PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

KEY=
LIFE_TIME=15000
FACTURAPI_KEY=

CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
GRAPH_USER_SCOPES='user.read mail.read mail.send'

DEFAULT_PROFILE_PHOTO=https://esmefis.edu.mx/wp-content/uploads/2023/10/logo-centro-universitario.png
NO_PHOTO=https://esmefis.edu.mx/wp-content/uploads/2024/07/NO-PHOTO.png

SESSION_PATH=
CALLBACK_PATH=
LOGOUT_PATH=

PAYMENT_LIMIT_DAYS=5

BASE_URL=

CALENDAR_ID=
