.loader {
  display: none;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
